.successMessage {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .iconContainer {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(227, 248, 255);
    border-radius: 100vw;
    .icon {
      font-size: 24px;
      color: var(--main-brand-color);
    }
  }
  .card {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
      rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
  }
  .goToSignin {
    background: transparent;
    padding: 10px 20px;
    // border-radius: 10px;
    border: 2px solid var(--main-brand-color);
    color: var(--main-brand-color);
    // width: 100%;
    margin-block: 10px;
    border-radius: 10px;
    font-weight: 600;
    &:active {
      transform: scale(0.95);
    }
    &:focus {
      outline: 2px solid rgb(205, 211, 231);
    }
  }
  h2 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
