.signupWindow {
  width: 100%;
  height: fit-content;
  max-width: 450px;
  border-radius: 15px;
  padding: 25px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .heading {
    width: fit-content;
    align-self: start;
    p {
      font-size: 0.8rem;
    }
  }
  .icons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    .iconContainer {
      height: 60px;
      width: 60px;
      border-radius: 10px;
      box-shadow: 15px 15px 33px 0px rgba(35, 45, 51, 0.17);
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background: transparent;
      &:hover {
        box-shadow: 2px 0px 50px 0px rgba(0, 140, 255, 0.258);
        .method {
          transform: scale(1.2);
        }
      }
      &:active {
        transform: scale(0.9);
      }
      &.selected {
        border: 1px solid var(--main-brand-color);
      }
      img {
        height: 30px;
        width: fit-content;
      }
    }
  }
  .seperator {
    text-align: center;
    position: relative;
    width: 100%;
    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 2px;
      transform: translate(20%, -50%);
      content: "";
      width: 30%;
      background: #1a232f27;
    }
    &::before {
      transform: translate(-120%, -50%);
    }
  }
  .inputsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .twoInputs {
    display: flex;
    gap: 10px;
  }
  .inputsNforgotPassword {
    width: 100%;
    p {
      cursor: pointer;
      margin-top: 5px;
      padding-right: 5px;
      color: #1a232f;
      font-size: 0.8rem;
      text-align: end;
    }
  }
  .buttonContainer {
    width: 100%;
    max-width: 250px;
  }
  p {
    text-align: center;
    color: #1a232fb5;
  }
  .link {
    cursor: pointer;
    color: var(--main-brand-color);
  }
}

.method {
  transition: all 0.2s ease-in-out;
  font-size: 20px;
}

.emailSent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .goToSignin {
    background: transparent;
    padding: 10px 20px;
    border: 2px solid var(--main-brand-color);
    color: var(--main-brand-color);
    margin-block: 10px;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.1s ease-in-out;
    &:hover {
      background-color: var(--main-brand-color);
      color: #fff;
    }
    &:active {
      transform: scale(0.95);
    }
    &:focus {
      outline: 2px solid rgb(205, 211, 231);
    }
  }
  .iconContainer {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(227, 248, 255);
    border-radius: 100vw;
    .icon {
      font-size: 24px;
      color: var(--main-brand-color);
    }
  }
}
