.forgotPassword {
  .formContainer {
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    form {
      display: flex;
      flex-direction: column;
      gap: 40px;
      .loginLink {
        display: flex;
        align-items: center;
        gap: 10px;
        &:hover {
          text-decoration: underline;
        }
        .backIcon {
          width: 1.5rem;
          height: fit-content;
        }
      }
    }
  }
}
