.option {
  background: #f2f6fa;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    background: #eaedf0;
    color: var(--main-brand-color);
  }

  .checkbox {
    width: 20px;
    height: 20px;
    background: #f2f6fa;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &.checked {
      background: var(--text-color);
      color: #fff;
    }
    .icon {
      height: 1.2rem;
      width: fit-content;
    }
  }
  .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .optionText {
      display: flex;
      align-items: center;
      gap: 5px;
      .rupee {
        height: 1rem;
        width: fit-content;
        color: var(--main-brand-color);
      }
    }
  }
}
