.tripCardContainer {
  background: #f2f6fa;
  border-radius: 15px;
  max-width: 400px;
  .tripCard {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    background: #f2f6fa;
    .image {
      width: 100%;
      aspect-ratio: 16/9;
      background-position: center;
      background-size: cover;
      position: relative;
      .iconContainer {
        position: absolute;
        right: 10px;
        top: 10px;
        background: #fff;
        height: 35px;
        width: 35px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .icon {
          height: 20px;
          width: fit-content;
          color: var(--main-brand-color);
          &.liked {
            color: #f02929;
          }
        }
      }
    }
    .tripInfo {
      padding: 20px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .location {
        display: flex;
        align-items: center;
        span,
        .icon {
          height: 20px;
          width: fit-content;
          color: var(--main-brand-color);
        }
      }
      .description {
        p {
          margin-top: 5px;
        }
      }
    }
    .bottomSection {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      padding: 20px;
      .button {
        padding: 15px 30px;
        border-radius: 5px;
        border: none;
        color: #fff;
        &.upcomming {
          background: #f02929;
        }
        &.completed {
          background: var(--main-brand-color);
        }
        &.cancelled {
          background: #868d94;
          color: #c2c6c9;
          cursor: not-allowed;
        }
      }
    }
    .priceContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      .priceText {
        color: var(--main-brand-color);
        font-weight: 600;
        font-size: 2rem;
      }
      p {
        &:last-child {
          font-size: 0.7rem;
        }
      }
    }
  }
  .extraInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    .successText {
      color: #00b95c;
    }
    .dateNTime {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: space-between;
    }
    .date {
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        height: 20px;
        width: fit-content;
      }
    }
    .link {
      cursor: pointer;
      color: var(--main-brand-color);
      font-weight: 600;
    }
    .rating {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      font-weight: 700;
      p {
        font-size: 1.5rem;
      }
      .star {
        height: 1rem;
        width: fit-content;
        color: var(--main-brand-color);
      }
    }
    .reviewBtn {
      padding: 12px 30px;
      background: #fff;
      border: 1px solid var(--main-brand-color);
      border-radius: 10px;
    }
  }
}

.datesContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 15px;
}

.date {
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-block: 10px;
  background-color: rgb(200, 232, 246);
  h5 {
    color: var(--main-brand-color);
  }
}

@media (min-width: 1024px) {
  .tripCardContainer {
    display: flex;
    align-items: center;
    background: transparent;
    max-width: none;
    .tripCard {
      flex-direction: row;
      min-width: 800px;
      width: 100%;
      max-width: 1000px;
      .image {
        max-width: 300px;
      }
    }
    .extraInfo {
      max-width: 300px;
    }
  }
}
