.searchResultsPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .searchPath {
    padding: 0 20px;
    .searchPathTerm {
      display: flex;
      align-items: center;
      p:last-child {
        font-weight: 600;
        color: var(--main-brand-color);
        margin-right: 10px;
      }
    }
  }
  .sortingContainer {
    padding: 20px;
    background: #e9e9eb;
    display: flex;
    justify-content: center;
    h2 {
      font-size: 1.5rem;
      width: fit-content;
    }
    .container {
      width: 100%;
      max-width: 1300px;
      padding: 10px 20px;
      border-radius: 5px;
      background: #fff;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .innerContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    .sort {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 20px;
    .menuIcon {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px 20px;
      border-radius: 5px;
      background: #f2f6fa;
      .icon {
        height: 1.5rem;
        width: fit-content;
      }
    }
    .filterGroupContainer {
      display: none;
    }
    .map {
      width: 100%;
      max-width: 450px;
    }
  }
  .right {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 300px;
  // .loader {
  //   width: 48px;
  //   height: 48px;
  //   border-radius: 50%;
  //   display: inline-block;
  //   position: relative;
  //   border: 2px solid var(--main-brand-color);
  //   box-sizing: border-box;
  //   animation: rotation 1s linear infinite;
  // }
  // .loader::after {
  //   content: "";
  //   box-sizing: border-box;
  //   position: absolute;
  //   left: 5px;
  //   top: 5px;
  //   border: 2px solid black;
  //   width: 12px;
  //   height: 12px;
  //   border-radius: 50%;
  // }
  .loader {
    // --loaderWidth: 48px;
    --loaderWidth: 30px;
    width: var(--loaderWidth);
    height: var(--loaderWidth);
    display: block;
    margin: 20px auto;
    position: relative;
    border: 3px solid var(--main-brand-color);
    border-radius: 50%;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    content: "";
    box-sizing: border-box;
    width: calc(var(--loaderWidth) / 8);
    height: calc(var(--loaderWidth) / 2);
    background: var(--main-brand-color);
    transform: rotate(-45deg);
    position: absolute;
    bottom: calc(var(--loaderWidth) / -2.4);
    right: calc(var(--loaderWidth) / -4.8);
    // left: 46px;
  }

  @keyframes animloader {
    0% {
      transform: translate(-10px, -10px);
    }
    25% {
      transform: translate(-10px, 10px);
    }
    50% {
      transform: translate(10px, 10px);
    }
    75% {
      transform: translate(10px, -10px);
    }
    100% {
      transform: translate(-10px, -10px);
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sortingBox {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #bbbdc1;
  background: #fff;
  border-radius: 5px;
  width: fit-content;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .icon {
    height: 1rem;
    width: fit-content;
  }
}

@media (min-width: 768px) {
  .searchResultsPage {
    .sortingContainer {
      .innerContainer {
        flex-direction: row;
        align-self: center;
      }
    }
  }
}
@media (min-width: 1024px) {
  .searchResultsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    .searchPath {
      width: 100%;
      max-width: 1600px;
    }
    .sortingContainer {
      width: 100%;
      .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      .innerContainer {
        flex-direction: row;
        align-self: center;
      }
    }
    main {
      width: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      gap: 20px;
      padding: 20px;
      max-width: 1400px;
      .left {
        padding: 0;
        width: 30%;
        min-width: 300px;
        max-width: 450px;
        .filterGroupContainer {
          display: block;
          width: 100%;
          background: #f2f6fa;
        }
        .menuIcon {
          display: none;
        }
      }
      .right {
        padding: 0;
        flex-grow: 1;
        max-width: 1100px;
      }
    }
  }
}

@media (min-width: 1400px) {
  .searchResultsPage {
    .sortingContainer {
      .container {
        max-width: 1600px;
      }
    }
    main {
      max-width: 1600px;
    }
  }
}
