.ratingBar {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  .barContainer {
    width: 100%;
    max-width: 200px;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
  }
  .bar {
    height: 100%;
  }
}

@media (min-width: 1024px) {
  .ratingBar {
    min-width: 350px;
    .barContainer {
      max-width: 400px;
    }
  }
}
