.forgotPassword {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  h3 {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
.backBtn {
  display: flex;
  align-items: center;
  gap: 2px;
  background: #fff;
  border: none;
  color: gray;
}

.linkSent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.goToSignin {
  background: rgb(209, 236, 246);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  color: var(--main-brand-color);
  // width: 100%;
  margin-block: 10px;
  &:hover {
    background: rgb(209, 236, 246, 0.8);
  }
  &:active {
    transform: scale(0.95);
  }
}
