.inputsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signInEmailForm {
  width: 100%;
  p {
    margin: 15px 15px 0 auto;
    width: fit-content;
    text-align: right;
    color: #1a232fb5;
    cursor: pointer;
  }
}

.buttonContainer {
  width: 100%;
  max-width: 250px;
}
