.profilePicContainer {
  height: 50px;
  width: 50px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-self: center;
  font-weight: 600;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
