* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-brand-color: #0868f8;
  --text-color: #1a232f;
  --icon-color: #323e4c;
  --max-width: 1600px;
  --primary-font: "Nordnet Mono";
  // --primary-font: "Poppins", sans-serif;
  --card-text-clr: #1a232f;
  --info-clr: #f8b425;
  --warning-clr: #ff8800;
  --error-clr: #f83e3e;
  --success-clr: #0868f8;
}
html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

img {
  object-fit: contain;
}

body {
  font-family: var(--primary-font);
  background: #fff;
  min-height: 100vh;
  color: var(--text-color);
}

button,
label,
input,
textarea {
  font-family: var(--primary-font);
}
label,
button,
a {
  cursor: pointer;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
.__capitalize {
  text-transform: capitalize;
}

._form_logo {
  height: 100px;
  width: fit-content;
}

.PhoneInputInput {
  width: 100%;
  padding: 10px 15px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
}

.PhoneInputCountrySelect {
  padding: 10px 15px;
  /* border-radius: 5px; */
  // border: 1px solid #edf0f2;
}
.PhoneInputCountrySelect:focus {
  outline: 1px solid var(--mainBrandColor);
}
.PhoneInputInput:focus {
  outline: 1px solid var(--mainBrandColor);
  /* outline: none; */
}
.__custom_phone_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.secondary_phone_input_container {
  // outline: 2px solid red;
  // background: red;
  background: #f3f4f4;
  border: 1px solid #b3b6b9 !important;
  height: 50px;
  align-items: center;

  .react-international-phone-country-selector {
    .react-international-phone-country-selector-button {
      background: #f3f4f4;
    }
    &::placeholder {
      color: #464d57;
    }
  }
}
.secondary_phone_input {
  background: #f3f4f4 !important;
}
.secondary_phone_label {
  font-weight: 600;
}

.slick-dots.slick-thumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slick-dots.slick-thumb li,
.slick-dots.slick-thumb-md li {
  width: 10px;
  height: 10px;
  margin: 0 3px;
  border-radius: 999px;
  transition: all 0.25s ease-in-out;
  will-change: width;
  background: transparent;
  color: transparent;
  border: 1px solid var(--main-brand-color);
}

.slick-dots.slick-thumb li.slick-active {
  background: var(--main-brand-color);
}
.slick-dots.slick-thumb-md li.slick-active {
  width: 30px;
  background: var(--main-brand-color);
}

.react-date-picker__wrapper {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.react-calendar {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  font-family: var(--primary-font);
}
.react-calendar__month-view__days__day--weekend {
  color: var(--main-brand-color);
}

.react-calendar__navigation__arrow {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #e9e9e9;
  position: relative;
  padding: 0;
}

.react-calendar__navigation {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
}

.react-calendar__navigation__label {
  background: #fff;
  border: 1px solid #e9e9e9;
  padding: 5px 20px;
  border-radius: 10px;
}
.react-calendar__tile.react-calendar__month-view__days__day {
  &:disabled {
    opacity: 0.5 !important;
  }
}

.react-calendar__month-view__weekdays__weekday {
  font-weight: 600;
  padding: 10px;
  text-decoration: none;
  background: var(--main-brand-color);
  font-size: 0.8rem;
  color: #fff;
  &:first-child {
    border-top-left-radius: 5px;
  }
  &:last-child {
    border-top-right-radius: 5px;
  }
  abbr {
    text-decoration: none;
  }
}

.react-calendar__tile {
  padding: 10px;
  background: #fff;
  border: none;
  border-radius: 50px;
  &:hover {
    outline: 1px solid #e9e9e9;
    outline: 1px solid currentColor;
    position: relative;
    z-index: 100;
  }
}

.react-calendar__month-view__days {
  border-radius: 5px;
}
.react-international-phone-input-container {
  border: 1px solid #f3f4f4;
  border-radius: 10px;
  padding: 8px;
}

.react-international-phone-country-selector,
.react-international-phone-country-selector-button,
.react-international-phone-input {
  border: none !important;
}
.react-international-phone-input {
  width: 100%;
}

// * {
//   outline: 2px solid red;
// }

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

.loader {
  width: 35px;
  height: 35px;
  border: 2px solid var(--main-brand-color);
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  animation: spin 0.5s linear forwards infinite;
  &.white {
    border-left-color: #fff;
    border-bottom-color: #fff;
  }
  &.sm {
    height: 20px;
    width: 20px;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(115, 147, 172, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--main-brand-color);
}
