* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-brand-color: #0868f8;
  --text-color: #1a232f;
  --icon-color: #323e4c;
  --max-width: 1600px;
  --primary-font: "Nordnet Mono";
}

img {
  object-fit: contain;
}

body {
  font-family: var(--primary-font);
  background: #fff;
  min-height: 100vh;
}

button,
label,
input,
textarea {
  font-family: var(--primary-font);
}
label,
button,
a {
  cursor: pointer;
}
a {
  color: var(--text-color);
  text-decoration: none;
}

._form_logo {
  height: 100px;
  width: fit-content;
}

.PhoneInputInput {
  width: 100%;
  padding: 10px 15px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
}

.PhoneInputCountrySelect {
  padding: 10px 15px;
  /* border-radius: 5px; */
  // border: 1px solid #edf0f2;
}
.PhoneInputCountrySelect:focus {
  outline: 1px solid var(--mainBrandColor);
}
.PhoneInputInput:focus {
  outline: 1px solid var(--mainBrandColor);
  /* outline: none; */
}

.slick-dots.slick-thumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slick-dots.slick-thumb li {
  width: 10px;
  height: 10px;
  margin: 0 3px;
  border-radius: 999px;
  transition: all 0.25s ease-in-out;
  will-change: width;
  background: transparent;
  color: transparent;
  border: 1px solid var(--main-brand-color);
}

.slick-dots.slick-thumb li.slick-active {
  background: var(--main-brand-color);
}
