.arrow {
  background: #fff;
  height: 40px;
  width: 40px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  border: 1px solid #e9e9e9;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transition: all 0.25s ease-out;
  &:active {
    transform: translateY(-50%) scale(0.9);
  }
  &:hover {
    background: rgb(236, 250, 255);
    .icon {
      color: var(--main-brand-color);
    }
  }
  &.next {
    right: 10px;
  }
  &.prev {
    left: 10px;
    .icon {
      transform: rotate(180deg);
    }
  }
  .icon {
    color: #bbbdc1;
    height: 30px;
    width: fit-content;
  }
}
