.carouselContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90vh;
  width: 90vw;
  border-radius: 10px;
  z-index: 100000;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  padding: 20px;

  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  border-radius: 10px;
  border: 1px solid rgba(48, 48, 48, 0.084);
  animation: scaleIn 0.2s ease-in-out;
}

.closeBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 70px;
  background: #ffdbdb;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  color: rgb(255, 71, 71);
}
.sliderContainer {
  align-self: center;
  width: 100%;
  padding-bottom: 50px;
  //   background-color: tomato;
}
.arrow {
  // background: #fff;
  height: 300px;
  width: 70px;
  display: grid;
  place-items: center;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  box-shadow: var(--main-brand-color) 0px 0px 0px 1px;
  cursor: pointer;
  &:hover {
    background: #0868f8;
    .icon {
      color: #fff;
    }
  }
  &.next {
    right: 10px;
  }
  &.prev {
    left: 10px;
    .icon {
      transform: rotate(180deg);
    }
  }
  .icon {
    color: #bbbdc1;
    color: var(--main-brand-color);
    height: 50px;
    width: fit-content;
  }
}

.image {
  max-height: 500px;
}

@keyframes scaleIn {
  from {
    transform: translate(-50%, -50%) scale(0.5);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}
